body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 50px;
    background-color: whitesmoke;
}

#container {
    border: 5px solid red;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
}

input {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: green;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

h1 {
    color: black;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#container > * {
    margin-bottom: 15px;
}
